<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.koxx.smartcntrl">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:restoreAnyVersion="true"
        android:backupAgent=".settings.BackupAgent">
        <meta-data android:name="com.google.android.backup.api_key"
            android:value="unused" />
        <activity
            android:name="org.koxx.smartcntrl.GraphActivity"
            android:label="@string/title_activity_graph"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="org.koxx.smartcntrl.LogActivity"
            android:label="@string/title_activity_log"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="org.koxx.smartcntrl.SettingsActivity" />
        <activity android:name="org.koxx.smartcntrl.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>